<div class="padding-view header-row">
    <h1>INFO</h1>
</div>
<div class="info-panel radius-bottom">
    <h3 class="color-black text-justify">The FIA's involvement in motor sport is almost as old as the automobile itself. With city-to-city racing becoming popular in the early 20th century, but with no rules governing safety or fair competition, the Automobile Club de France allied itself
        with 12 clubs from around the world to form the Association Internationales des Automobile Clubs Reconnus, the direct antecedent of the FIA. In 1950, the federation inaugurated the Formula One World Championship and thus began the FIA's evolution
        into a global motor sports force. From Formula One to the World Rally Championship and from endurance racing to the brand new arena of alternative energy championships, the FIA's passion for motor sport and its dedication to ensuring fair play
        and safety for all competitiors are undiminished.</h3>
</div>