<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button ng-init="isNavCollapsed = true" type="button" class="navbar-toggle collapsed btn btn-navbar" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- TEMPLATE LOGO -->
            <div class="navbar-brand">
                <a ui-sref="app.home">
                    <img src="assets/images/f1_logo.svg" alt="img">
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="app.home" ng-click="isNavCollapsed = !isNavCollapsed"><i class="fa fa-home" aria-hidden="true"></i>  HOME</a>
                </li>
                <li ui-sref-active="{active: 'app.season'}">
                    <a ui-sref="app.season.list" ng-click="isNavCollapsed = !isNavCollapsed"><i class="fa fa-calendar" aria-hidden="true"></i>  SEASONS</a>
                </li>
                <li ui-sref-active="{active: 'app.driver'}">
                    <a ui-sref="app.driver.list" ng-click="isNavCollapsed = !isNavCollapsed"><i class="fa fa-car" aria-hidden="true"></i> ALL TIME  DRIVERS</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.sport" ng-click="isNavCollapsed = !isNavCollapsed"><i class="fa fa-info" aria-hidden="true"></i>  SPORT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container content-view">
    <div ncy-breadcrumb class="radius-top"></div>
    <div ui-view="content">
    </div>
</div>