<h3>
    <a class="link" href="" ui-sref="app.season.list">Seasons</a>
    <span> > {{vm.seasonSelected}} </span>
</h3>
<h1> RACE RESULTS</h1>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search for a season" ng-model="searchSeason">
        </div>
    </div>
</form>

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <td>
                <a ng-click="sortType = 'season'; sortReverse = !sortReverse">
                    Season  
                    <span ng-show="sortType == 'season' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'season' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a ng-click="sortType = 'givenName'; sortReverse = !sortReverse">
                    First Name 
                    <span ng-show="sortType == 'givenName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'givenName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a ng-click="sortType = 'familyName'; sortReverse = !sortReverse">
                    Last Name 
                    <span ng-show="sortType == 'familyName' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'familyName' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td class="hidden-xs">
                <a ng-click="sortType = 'nationality'; sortReverse = !sortReverse">
                    Nationality 
                    <span ng-show="sortType == 'nationality' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'nationality' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td class="hidden-xs">
                <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Constructor 
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="season in vm.winnerList | orderBy:sortType:sortReverse | filter:searchSeason">
            <td>{{season.season}}</td>
            <td>{{season.DriverStandings[0].Driver.givenName }}</td>
            <td>{{season.DriverStandings[0].Driver.familyName}}</td>
            <td class="hidden-xs">{{season.DriverStandings[0].Driver.nationality}}</td>
            <td class="hidden-xs">{{season.DriverStandings[0].Constructors[0].name}}</td>
        </tr>
    </tbody>
</table>
<div ng-if="!vm.loadedWinners && !vm.loadedChampion">
    <div class="text-center">
        <img style="width:50px;" src="assets/images/loading.gif" alt="">
    </div>
</div>