/**    
Fixes and Font Definition
*/

html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    body {
        font-family: 'Lato', serif;
        background-color: transparent;
        overflow-x: hidden;
    }
}

.container {
    overflow-y: hidden!important;
}


/**    
Color Definition
*/

$red: #cc0000;
$soft-red: #d6b1b1;
$soft-grey: rgba(255, 255, 255, 0.7);
$soft-black: rgba(47, 47, 45, 0.89);
$table-background: rgba(81, 92, 88, 0.44);
$transparent-white: rgba(81, 92, 88, 0.54);
$caret-red:#da7a7a;

/**    
Radius mixing
*/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


/**    
 Common CSS 
*/

.loading-img {
    width: 100px;
}

.header-row {
    background-color: $soft-black;
}

.form-group {
    .input-group-addon {
        background: black;
        color: white;
    }
}

a {
    color: white;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

.color-black {
    color: black;
}

.padding-view {
    padding: 10px;
}

.radius-bottom {
    @include border-radius(0px 0 10px 10px);
}

.radius-top {
    @include border-radius(10px 10px 0px 0);
}


/**    
 Pagination 
*/

.pagination {
    li {
        a {
            color: $red;
            &.active {
                background-color: $red;
                color: white;
                &:hover {
                    background-color: $red;
                    color: white;
                }
            }
            &:hover {
                color: black;
            }
        }
        &.active,
         :hover,
         :focus {
            a {
                background-color: $red;
                border-color: $red;
            }
        }
    }
    .active {
        a {
            background-color: $red;
            border-color: $red;
            color: white;
            &:hover {
                background-color: $red;
                border-color: $red;
                color: white;
            }
        }
    }
}


/**    
 Carousel  
*/

.carousel {
    .carousel-inner {
        background-color: transparent;
        .carousel-caption {
            -webkit-box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.67);
            -moz-box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.67);
            box-shadow: 8px 8px 15px 0px rgba(50, 50, 50, 0.67);
            @include border-radius(10px);
            background-color: $transparent-white;
        }
        img {
            width: 100%;
            height: 590px;
            object-fit: cover;
            @include border-radius(47px);
            border: solid 2px white;
        }
    }
    .carousel-indicators {
        li {
            width: 20px;
            height: 20px;
            margin: 0 15px;
            border: solid 2px white;
            &.active,
            &:hover {
                background-color: white;
            }
        }
    }
    .carousel-control {
        background-image: none;
        .glyphicon {
            color: $red;
            font-size: 73px;
        }
    }
}


/**    
NavBar
*/

.navbar-default {
    background: $soft-black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
    .navbar-brand {
        padding-top: 0;
        img {
            width: 93px;
            margin: 4px;
            &:hover {
                transform: scale(1.10);
            }
        }
    }
    .navbar-nav {
        li {
            &.active>a {
                background: transparent;
                color: white;
                &:focus,
                &:hover {
                    color: white;
                    background: transparent;
                }
                &:after {
                    width: 100%;
                    background: $red;
                    content: '';
                    display: block;
                    height: 4px;
                    margin-top: 5px;
                }
            }
            >a {
                text-shadow: none;
                font-size: 12px;
                letter-spacing: 0.36px;
                padding-top: 10px;
                padding-bottom: 10px;
                position: relative;
                color: white;
                transition: width .5s ease-out, background-color .5s ease;
                &:after {
                    content: '';
                    display: block;
                    height: 4px;
                    width: 0;
                    margin-top: 5px;
                    background: transparent;
                    transition: width .5s ease-out, background-color .5s ease;
                }
                &:hover {
                    color: white;
                    &:after {
                        width: 100%;
                        color: white;
                        background: $red;
                    }
                }
            }
        }
    }
}

.input-row {
    @extend .padding-view;
    background: $red;
    .form-group {
        margin: 0;
        input {
            border-color: white;
        }
    }
}

.breadcrumb {
    margin: 0;
    a {
        color: black;
    }
}

.info-panel {
    @extend .padding-view;
    background: $soft-grey;
    .panel {
        background-color: $transparent-white;
        tbody {
            background: $soft-grey;
        }
        thead {
            background-color: black;
        }
        .panel-heading {
            font-size: 16PX;
            background: $soft-red;
        }
    }
}

.content-view {
    @include border-radius(14px);
    margin: 99px 11px;
    padding: 10px;
    color: #fff;
}

.table-container {
    @extend .padding-view;
    background-color: $soft-grey;
    .table {
        .order-caret {
            position: absolute;
            margin: 4px 8px;
        }
        .badge {
            background-color: $caret-red;
        }
        tbody {
            background: $table-background;
            tr {
                &:hover {
                    color: black;
                    cursor: pointer;
                }
                &.active {
                    td {
                        background-color: $soft-red;
                    }
                }
            }
        }
        thead {
            background-color: black;
        }
    }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .content-view {
        margin: 100px auto;
        padding: 30px;
    }
    .padding-view {
        padding: 20px 30px;
    }
    .navbar-default {
        padding-right: 15px;
        .navbar-collapse {
            padding-right: 15px;
        }
        .navbar-brand {
            img {
                width: 140px;
                margin: 0px;
            }
        }
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}